data/citymap/closest_roads.csv filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/connected_roads.json filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/connected_roads_complete.json filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_buildings.cpg filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_buildings.dbf filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_buildings.prj filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_buildings.shp filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_buildings.shx filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_roads.dbf filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_roads.prj filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_roads.shp filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_roads.shx filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_roads.cpg filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_district_map.dbf filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_district_map.prj filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_district_map.shp filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/aachen_district_map.shx filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/20170630_population_density.csv filter=lfs diff=lfs merge=lfs -text linguist-vendored
data/citymap/connected_roads_complete.gml filter=lfs diff=lfs merge=lfs -text linguist-vendored
